
<div style="height: 100px;"></div>


<app-content-width *ngIf="backend.account">
  <div *ngFor="let author of backend.account.authors">
    <h1>{{ author.name }}</h1>
    <p>{{ author.about }}</p>

    <div *ngFor="let publication of author.publications" style="margin-top: 5px; padding: 15px; color: white; background: #333;">
      - {{ publication.name}}
      <div *ngFor="let article of publication.articles" style="background: white; color: black;">
        --  {{ article.title }}
      </div>
    </div>
  </div>

</app-content-width>



<!-- ACCOUNT INFO AND LOGOUT LINK -->
<app-content-width *ngIf="backend.account">
    <flex-col>
      <h1>Welcome back.</h1>
      <div style="color: gray;"><span >{{ backend.account.email }} /</span>
        <span style="text-decoration:none;" (click)="logout()">log out</span></div>

        <h2>you have these authors</h2>


          <flex-row  *ngFor="let author of backend.account?.authors"
          style="margin-bottom: 10px; width: 200px; background-color: #333; color: white; padding: 10px 20px; transform: skew(-20deg);"
          [routerLink]="['/', author.id]">
          <span style="transform: skew(20deg);">{{ author.name }}</span>
        </flex-row>

      <a [routerLink]="['/create-author']">create author</a>
    </flex-col>
</app-content-width>


<!-- here we make an according! super simple! -->




<!-- FORMS -->
<app-content-width *ngIf="!backend.account">
    
      <!-- LOGIN -->
    
      <h1>Log In</h1>
      <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <flex-col>
          <input [ngStyle]="styles.input()" id="loginEmail" class="form-input" formControlName="email" type="email" placeholder="Email">
          <input [ngStyle]="styles.input()" id="loginPassword" class="form-input" formControlName="password" type="password" placeholder="Password">
          <div style="height: 20px;"></div>
          <button [ngStyle]="ui.styles.button()" type="submit" [disabled]="!loginForm.valid">Log In</button>
        </flex-col>
      </form>
    
    
      <div style="height: 60px;"></div>
    
    
      <!-- RESET PASSWORD -->
    
      <h1>Reset Password</h1>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="requestPasswordResetLink()">
    
        <flex-col>
          <!-- <div class="form-label">
            <label for="loginEmail">Your Email</label>
          </div> -->
          <input [ngStyle]="styles.input()" id="loginEmail" class="form-input" formControlName="email" type="email" placeholder="your email address">
    
          <div style="height: 20px;"></div>
          <button [ngStyle]="ui.styles.button()" type="submit" [disabled]="!resetPasswordForm.valid">Request Reset Link</button>
        </flex-col>
      </form>
    
      <!-- SIGN UP (todo: disable) -->
      <div *ngIf="1">
    
        <div style="height: 60px;"></div>
    
    
        <div id="register-login-forms" *ngIf="1">
    
          <h1>Sign Up</h1>
          <form [formGroup]="registrationForm" (ngSubmit)="createAccount($event)">
            <flex-col>
              <!-- <label class="form-label" for="registrationEmail">Email</label> -->
              <input [ngStyle]="styles.input()" id="registrationEmail" class="form-input" formControlName="email" type="email" placeholder="your email address">
    
              <!-- password -->
              <!-- <label class="form-label" for="registrationPassword">Password</label> -->
              <input [ngStyle]="styles.input()" id="registrationPassword" class="form-input" formControlName="password" type="password" placeholder="chose a strong password">
    
              <!-- password again -->
              <!-- <label class="form-label" for="registrationPassword2">Repeat Password</label> -->
              <input [ngStyle]="styles.input()" id="registrationPassword2" class="form-input" formControlName="password2" type="password" placeholder="repeat password please">
    
              <!-- the rules -->
              <!-- <label class="form-label" for="termsCheckbox">Them Rules</label> -->
              <flex-row [ngStyle]="ui.styles.standardText()">
                <span [ngStyle]="styles.terms()">By creating a public.ink account, you confirm that you agree with the <a href="#" style="text-decoration:underline;">public.ink house rules</a>.</span>
                
              </flex-row>
    
              <!-- submit button -->     
              <br>     
              <button [ngStyle]="ui.styles.button()" type="submit" [disabled]="false">Create Account</button>
    
            </flex-col>
          </form>
          <!-- end of registration -->
    
    
        </div>
    
      </div>
    
    
    
    </app-content-width>