<!--


<div><a [routerLink]="['/']">Home</a>

<router-outlet></router-outlet>

<div *ngIf="0">
<h1>{{ title }} </h1>
<input type="text" [(ngModel)]="backend.newAuthorName" placeholder="your name or pseudonym" />
<button (click)="backend.createAuthor(backend.newAuthorName)">create author</button>
<hr>

<h2>The authors that you are</h2>
<div *ngFor="let author of backend.userAuthors">
  id: {{ author.id }}<br>
  name: <input type="text" [(ngModel)]="author.name">
  <br>
  email: {{ author.email }}
  <br>
  about: <textarea [(ngModel)]="author.about"></textarea>
  <button (click)="backend.updateAuthor(author)">update {{ author.name }}</button>
  <button (click)="backend.deleteAuthor(author)">delete {{ author.name }}</button>
  <button (click)="backend.assumeIdentity(author)">assume {{ author.name }}'s identity</button>

  <h3>This author has the following publications</h3>
  <div *ngFor="let publication of author.publications">
    name: <input type="text" [(ngModel)]="publication.name" /> 
    <button (click)="backend.updatePublication(publication)">update publication</button>
    <button (click)="backend.deletePublication(publication)">delete publication</button>

    <h4>These are the publication's articles</h4>
    <div *ngFor="let article of publication.articles">
      <b (click)="backend.getArticle(article.url)">{{ article.title }}</b> (click to get)
      <i>{{ article.teaser }}</i>
    </div>

    <h4>create an article for this publication {{ publication.name }}</h4>
    <input type="text" [(ngModel)]="backend.newArticle.title" />
    <button (click)="backend.createArticle(publication, backend.newArticle)">create article!</button>
  </div>
  <hr>

</div>

<div *ngIf="backend.userIdentity">
  <h2>create a publication!</h2>
  name: <input type="text" [(ngModel)]="backend.newPublicationName" placeholder="name of your publication" />
  <button (click)="backend.createPublication(backend.newPublicationName)">create</button>

</div>
</div>
-->

<!-- testing cool stuff -->
<!--
<div class="wrapper" *ngIf="0">
      <p class="title">Play with background-clip text</p>
      <div class="clip-text clip-text_one">public.ink</div>
  <div class="clip-text clip-text_fifteen clip-text--no-textzone">public.ink</div>
      <div class="clip-text clip-text_twelve clip-text--cover">public.ink</div>
  <div class="clip-text clip-text_tree clip-text--no-textzone">public.ink</div>
      <div class="clip-text clip-text_two">public.ink</div>
      <div class="clip-text clip-text_fourteen clip-text--cover">public.ink</div>
      <div class="clip-text clip-text_tree">public.ink</div>
      <div class="clip-text clip-text_eleven clip-text--cover">public.ink</div>
      <div class="clip-text clip-text_four">public.ink</div>
      <div class="clip-text clip-text_five">public.ink</div>
      <div class="clip-text clip-text_six">public.ink</div>
      <div class="clip-text clip-text_seven">public.ink</div>
      <div class="clip-text clip-text_eight">public.ink</div>
      
      <div class="clip-text clip-text_nine">public.ink</div>
      <div class="clip-text clip-text_ten">public.ink</div>
      <div class="clip-text clip-text_thirteen clip-text--cover">public.ink</div>
  </div>
  -->