<div style="height: 100px;">should be 90, or calculated</div>



<!-- full width row -->
<flex-row [style.width.vw]="100" style="background:notpink; justify-content: center;">
  <!-- content lane, centereed -->
  <flex-col [style.width.%]="100" [style.maxWidth.px]="style.theme.contentWidth"
    style="background-color: notbeige;"
  >


    <!-- main article image -->
    <div>
    <div [ngStyle]="imageStyle()"></div>
    </div>

   
    
    
    <div>
    <div 
      id="articleTitleEditor" 
      [ngStyle]="style.s.article.headline()"
      (click)="ui.toolbarState.main = 'edit'; ui.toolbarState.second = 'articleTitle'">
    </div>
    </div>

    <!-- by author in publication -->
     <div *ngIf="article && article.author">
       <br>
      By <a [routerLink]="['/', article.author.id]">{{ article.author.nameText }} </a>
      in <a [routerLink]="['/', article.author.id, article.publication.id]">{{ article.publication.nameText }}</a>
    </div>

    <br><br>
  <!-- body editor -->
    <div style="padding: 0px 0px;" id="articleBodyEditor" (click)="ui.toolbarState.main = 'edit'; ui.toolbarState.second = 'articleBody'"></div>

  </flex-col><!-- end of content, centered -->
</flex-row><!-- end of full row -->

