<!-- spacer -->
<div style="height:100px"></div>

<flex-row-center>
  <flex-row [style.width.%]="100" [style.maxWidth.px]="style.theme.contentWidth" 
  style="justify-content:space-around;">

      <!-- AUTHENTICATED USERS -->
    <flex-col-center *ngFor="let author of backend.userAuthors">
      <flex-col-center (click)="backend.assumeIdentity(author)" style="width: 60px; height: 60px; border-radius:50px; background-color:lightsalmon;">
        <img [src]="author.imageUrl + '=s60-c'" style="border-radius:50px;"/>
        <span *ngIf="author === backend.userIdentity">check (abs)</span>
      </flex-col-center>
      <a [routerLink]="['/', author.id]">{{ author.nameText }}</a>
    </flex-col-center>

    <!-- create profile -->
    <flex-col-center [routerLink]="['/', 'new']">
      <flex-col-center style="width: 60px; height: 60px; border-radius:50px; background-color:lightsalmon;">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </flex-col-center>
      <span>Create Profile</span>
    </flex-col-center>

    <!-- sign out -->
    <flex-col-center>
      <flex-col-center style="width: 60px; height: 60px; border-radius:50px; background-color:lightsteelblue;">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </flex-col-center>
      <span>Sign Out</span>
    </flex-col-center>

  </flex-row>

</flex-row-center>

<!-- temp: user identity switching -->
<flex-col-center>

  <flex-row>

    

    <!-- NON AUTHED USERS -->
    <div *ngIf="!backend.userAuthenticated">
      <h3>your are NOT logged in
        <a href="{{ 'http://localhost:8080' + backend.loginUrl }}">log in here</a>
      </h3>
    </div>


    

      


  </flex-row>

</flex-col-center>


<!-- introduction | This is public.ink  -->
<flex-col-center [ngStyle]="heroStyle()" style="height:50vh; width: 100vw; background-color:white;">
  <span style="font-style: italic;">THIS IS</span>
  <br><br>
  <h1>
    <span style="display: inline-block; background: black; color: white; padding: 20px 30px;">public.ink</span>
  </h1>
  <br><br>
  <p>An open source, non-commercial publishing platform.</p>
</flex-col-center>

<!-- USPs -->
<flex-row-center>
  <flex-row style="justify-content: space-around;margin-bottom: 50px;" [style.maxWidth.px]="style.theme.contentWidth" [style.width.%]="100">
    <!-- a feature with icon -->
    <flex-col-center *ngFor="let feature of features">
      <span>{{feature.name }}</span>
      <i [style.fontSize.px]="30" class="fa fa-{{feature.icon}}"></i>
    </flex-col-center>
  </flex-row>
</flex-row-center>

<!-- todo: set number of publications (repeats in author page) -->
<div *ngFor="let publication of publications">
  <app-publication-banner [publication]="publication" [heightVH]="33" [editable]="false"></app-publication-banner>
</div>