
<div style="height:100px"></div>

<flex-col-center [ngStyle]="heroStyle()" style="height:50vh; width: 100vw; background-color:white;">
  <h1>
    <span style="background: black; color: white;">public.ink</span>
    </h1>
  <p>An open source, non-commercial publishing platform. Learn more here.</p>
</flex-col-center>


<div [ngStyle]="style.s.container()">

      <div *ngFor="let publication of publications">
        <h1><a [routerLink]="['/', publication.author.id, publication.id]">{{ publication.nameText }}</a></h1>
        by <a [routerLink]="['/', publication.author.id]">{{ publication.author.nameText }}</a>
        
        <div *ngFor="let article of publication.articles">
          <h2><a [routerLink]="['/', publication.author.id, publication.id, article.id]">{{ article.titleText }}</a></h2>
          <p>{{ article.bodyText }}</p>
        </div>
      </div>
</div>