<div *ngIf="!author">
  <h1>loading</h1>
</div>

<div *ngIf="author">

    

    <app-author 
      [author]="author"
      [editable]="backend.isOwner(author.id) || author.new"
      (updateAuthor)="updateAuthor()"
      ></app-author>


      <!-- create / cancel if new -->
    <flex-row-center >
      <button *ngIf="author.new" [ngStyle]="ui.styles.button()" (click)="createAuthor()">Create Author</button> &nbsp;
      <button [ngStyle]="ui.styles.button()" (click)="deleteAuthor()">delete author</button>
      <button [ngStyle]="ui.styles.button()" [routerLink]="['create-publication']">new publication</button>
    
    </flex-row-center>

      

      



    <div *ngFor="let publication of author.publications">

      <app-publication  [author]="author" [publication]="publication"
        [editable]="false"
      ></app-publication>

      <div *ngFor="let article of publication.articles">
        <app-article 
          [article]="article" 
          [author]="author" 
          [publication]="publication"
          [editable]="false"
          >
        </app-article>
        <div style="height: 100px;"></div>
        <div style="border-top: 1px dashed gray;"></div>
      </div>
    </div>

  </div>