<div style="width: 100%; overflow: hidden;" *ngIf="bottom">
  <div style="height: 11px; overflow: hidden; width: 110vw; margin-left: -5vw;">
    <div style="box-shadow: 0px 5px 10px -6px rgba(122,122,122,1); height: 20px; margin-top: -20px;"></div>
  </div>
</div>




<div style="width: 100%; overflow: hidden;" *ngIf="top">
  <div style="height: 10px; overflow: hidden; width: 110vw; margin-left: -5vw;">
        <div style="box-shadow: 0px -5px 10px -6px rgba(122,122,122,1); height: 20px; margin-top: 10px;"></div>
  </div>
</div>




