<div class="content-width">
  <h1>Your account</h1>
  <button>Delete Account</button>
</div>


  <div *ngFor="let author of backend.userAuthors">
    author: <a [routerLink]="['/', author.id]">{{ author.name }}</a>
    <app-author [author]="author"></app-author>
  </div>

  <div *ngIf="backend.userAuthors.length === 0">
    <h2>you ain't got no authors!</h2>
    

  </div>


<a [routerLink]="['/', 'create-author']">create author link</a>
    <input 
      type="text" 
      [(ngModel)]="newAuthorName"
      placeholder="Author Name or Pseudonym" 
    />
    
