



input {
    font-family: Courier New, Courier, monospace;
    box-sizing: border-box;
}
textarea {
    font-size: 14px;
    font-family: inherit; /** Courier New, Courier, monospace; */
    width: 100%;
    border: 0;
    box-sizing: border-box;
    resize: none;
}


/* my components*/
app-publication {
    width: 100%;
}

/* HORIZONTAL RULES */
hr.dashed {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    margin: 100px 0 50px 0;
}
a {
    color: #333;
    text-decoration: none;
}
a.navlink {
    color: white;
    text-decoration: none;
}
a:focus {
    outline: 0;
}

.tabable:focus{
    text-decoration: underline;
}

.focus-bg {
    background-color: transparent;
    outline: 0;
    resize: none;
}
.focus-bg:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.form-input {
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid #333;
    font-family: Courier New, Courier, monospace;
    padding: 10px 15px;
    width: 100%;
}
.form-input:focus, .form-button:focus, input[type="checkbox"] + label{
    outline:2px solid dodgerblue;
}
button.dark {
    box-sizing: border-box;
    border: 1px solid #333;
    font-family: Courier New, Courier, monospace;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
}

/** this should be replaced with code **/
button {
    border:0;
    background-color: transparent;
    font-family: inherit; /**Courier New, Courier, monospace;*/
    font-size: inherit;
}


.form-button {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #333;
    font-family: Courier New, Courier, monospace;
    padding: 14px 15px;
    font-size: 20px; /* todo */
    background-color: #000;
    color: white;
}
.form-button:disabled {
    background-color:#000;
    color:#ddd;
}

.form-label{
    display: block;
    box-sizing: border-box;
    width: 400px;
    font-size: 20px;
    margin: 20px 0px 10px 0px;
    font-weight: bold;
}

/* checkbox */


input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    display:inline-block;
    width:50px;
    height:50px;
    cursor:pointer;
    border:1px solid black;
}
input[type="checkbox"]:checked + label {
   /* background-color:cornflowerblue;*/
}

input[type="checkbox"]:checked + label:before {
    content: '✔';
    width:50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:35px;
}


/* FLEX ALL THE THINGS */
.grow {
    flex-grow: 1;
}
flex-row-between {
    display: flex;
    justify-content: space-between;
}
flex-row-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
flex-row-start-around {
    display: flex;
    justify-content: flex-start;
    align-items: space-around;
}
flex-row-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
flex-row-around {
    display: flex;
    justify-content: space-around;
}
flex-row-around-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

flex-row {
    display: flex;
}
flex-row-100 {
    display: flex;
    width:100%;
}
flex-row-center {
    display: flex;
    justify-content: center;
}
flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

flex-row-center-center {
    display: flex;
    justify-content: center;
    align-content: center;
}


/*
COLUMNS:
first part is horizontal, so align-items,
sececond part is vertical, so justify-content,
*/
flex-col {
    display: flex;
    flex-direction: column;
}
flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
flex-col-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
flex-col-start-end {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
flex-col-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


flex-col-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
flex-col-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
flex-col-center-around {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

flex-col-left-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content-width {
    width: 100%;
    max-width: 780px;
    margin: 0px auto;
    box-sizing: border-box;
}

simple-spacer{
    border-top: 1px dashed gray;
    margin: 30px 0px;
    display: block;
}



/* https://projects.lukehaas.me/css-loaders/ */
.spinner {
    border-radius:50%;
    position: relative;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    border-bottom: 5px solid transparent;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
    
    width: 30px;
    height: 30px;
}
/** spinner black moved to index.html */


.spinner-white {
    border-radius:50%;
    position: relative;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid transparent;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
    
    width: 15px;
    height: 15px;
}
.icon-mark {
    height: 40px;
    width: 40px;
    font-size: 30px;
} 
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* end of spinner */


/* drag n drop */
.dnd-drag-start {
   
}

.dnd-drag-enter {
    
}

.dnd-drag-over {
    
}

.dnd-sortable-drag {
 
}