
textarea {
    font-size: 14px;
    font-family: Courier New, Courier, monospace;
    width: 100%;
    border: 0;
}

.form-input {
    font-size: 20px;
    border: 1px solid #333;
    font-family: Courier New, Courier, monospace;
    padding: 10px 15px;
    width: 400px;
}

.button {
    display: inline-block;
    background-color: #333;
    border: 2px solid black;
    color: white;
    padding: 10px;
    font-family: Courier New, Courier, monospace;
    font-size: 20px;
    outline: 0;
}
.button:focus {
    outline:0;
    border: 2px solid gray;
}
.button.form-input{
    width: 400px;
    padding: 10px 15px;
}

flex-row {
    display: flex;
}
flex-row-center {
    display: flex;
}

/*
COLUMNS:
first part is horizontal, so align-items,
sececond part is vertical, so justify-content,
*/
flex-col {
    display: flex;
    flex-direction: column;
}
flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
flex-col-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-width {
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
}

