<!--{{ backend.userAccount | stringify }}-->

<div *ngIf="backend.userAccount">
  <div class="content-width">
    <div>{{ backend.userAccount.email }}, <span *ngIf="backend.userAccount.verified">is verified.</span> <a [routerLink]="['/create-author']">Create Author</a> 
    
    <a [routerLink]="['/my-media']">Your Media</a>
    <a href="#" (click)="backend.logoutUser()">Log Out</a></div>
  </div>


  <div *ngFor="let author of backend.userAccount.authors">

    <!-- authors -->
  
    <app-author [author]="author"></app-author>

    <div *ngFor="let publication of author.publications">

      <!-- pubs -->
      
      <app-publication [publication]="publication"></app-publication>

      <!-- articles -->
      <div *ngFor="let article of publication.articles">
        <app-article [article]="article" [preview]="true"></app-article>
      </div>
    </div>
    
  </div>
</div>

