<app-content-width *ngIf="backend.userAccount">


    <h2>Your Account</h2>
    <div [style.font-family]="ui.fonts.paragraph">


        <span *ngIf="!backend.userAccount.verified">
        (created but unverified)
        Your account has been created! We have sent an emailed to {{ backend.userAccount.email }} with a link to activate.
        (nothing else to do in this state)
    </span>

        <span *ngIf="backend.userAccount.verified">
        You are logged in with {{ backend.userAccount.email }}
        (verified )
    </span>
    </div>

    <a href="#" (click)="backend.logoutUser()" [ngStyle]="{background: 'darkred', color: 'white', padding: '10px 20px'}" style="display: inline-block;">Log Out</a>



</app-content-width>



<!-- analytics / stats -->
<!-- analytics / really ? maybe not here, but inline! figure out where this goes -->
<!--
    <h2>Articles read in the past 7 days</h2>
    <flex-row style="align-items: flex-end;">
        <div *ngFor="let stat of backend.userAccount.dailyViews | keysPipe">
            <flex-row-center style="width: 80px; margin-right: 10px;">{{ stat.value.views }}</flex-row-center>
            <div [style.height.px]="stat.value.views * 5" style="min-height: 1px; width: 90px; margin-right: 10px; background-color: black;"></div>
        </div>
    </flex-row>
    -->