<div *ngIf="hoff">
  <!-- publications -->
  <div *ngFor="let publication of hoff.author.publications">
    <app-publication *ngIf="publication.articles.length > 0" [publication]="publication"></app-publication>
    <div *ngFor="let article of publication.articles | slice:0:publication.expanded ? publication.articles.length : 2; let last = last">
      <app-article [article]="article" [preview]="true" [editable]="false"></app-article>
      <!-- duplicate with and publication page -->
      <app-content-width *ngIf="!last">
          <simple-spacer></simple-spacer>
        </app-content-width>
    </div>

    <!-- show more articles -->
    <app-content-width *ngIf="publication.articles.length > 2 && !publication.expanded" (click)="expandPublication(publication)">
      <span [ngStyle]="ui.styles.button()">show {{ publication.articles.length - 2 }} more article<span *ngIf="(publication.articles.length - 2) > 1">s</span></span>
      <br><br><br>
    </app-content-width>

    
  </div>
</div>