<app-content-width>
  <app-logo></app-logo>
</app-content-width>

<!-- login forms or info -->
<app-account></app-account>


<!-- CONTENT! -->
<div *ngIf="backend.account">

  <div *ngFor="let author of backend.account.authors; let last = last;">
    <!-- here is the author paper -->
    <!-- this needs to become author component -->
    <app-author [author]="author"></app-author>
    <!-- <app-author [author]=""></app-author> -->
    
    <div [@authorState]="author.state" style="overflow:hidden;" >
      <div *ngFor="let publication of author.publications; let last = last;">
        
        <!-- here is publication paper -->
        <app-publication [author]="author" [publication]="publication"></app-publication>

        <div [@publicationState]="publication.state" style="overflow:hidden;">
          <div *ngFor="let article of publication.articles; let last = last">
            <app-article [article]="article" [publication]="publication" [author]="author"></app-article>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>