

<div *ngFor="let author of authors; let last = last;">
  <!-- here is the author paper -->
  <!-- this needs to become author component -->
  <app-author [author]="author"></app-author>
  <app-author [author]=""></app-author>
  
  

  <!-- small shadow if collapsed -->
  <div *ngIf="!author.expanded && !last" style="border-bottom: 1px solid green;"></div>
  <!-- big shadow if expanded -->


  <div [@authorState]="author.state" style="overflow:hidden;" >
    <div *ngFor="let publication of author.publications; let last = last;">
      
      <!-- here is publication paper -->

      <app-content-width style="height: 40vh;"
        style="background-size: cover;"
      [style.background-image]="safeBG(publication.imageURL)"
      >
        <div style="padding: 30px;">
          <h1>{{ publication.name }}</h1>
          <span (click)="publication.expanded = !publication.expanded; publication.state = publication.state === 'collapsed' ? 'expanded': 'collapsed'">expand / collapse publication</span>
        </div>
      </app-content-width>

      <!-- small shadow if collapsed -->
      <div *ngIf="!publication.expanded && !last" style="border-bottom: 1px solid lightgray;"></div>
      <!-- big shadow if expanded -->

      <div [@publicationState]="publication.state" style="overflow:hidden;">
        <div *ngFor="let article of publication.articles; let last = last">
          <app-content-width>
            <div style="padding: 40px;">
              <h2>{{ article.title}} article title</h2>
              <br>
              {{ article.prefold }}
            </div>
          </app-content-width>
          <!-- always just small shadow for now -->
          <div *ngIf="!last" style="border-bottom: 1px solid gray;"></div>

        </div>
      </div>


        <!-- if this is the last publication (that is, a author paper comes next.
        in that case, we need to check if articles are expanded
        -->
        <div *ngIf="last">
        </div>

    </div>

    

  </div>
</div>



<div style="height: 50px;"></div>


