<!-- cover for production currently -->
<flex-col-center-center *ngIf="!public" style="user-select: none; z-index: 4; position:fixed; top: 0; left:0; width: 100vw; height: 100vh; background-color: rgba(255,255,255,1);">
    <h2>public.ink</h2>
    <p>is currently in private mode</p>
</flex-col-center-center>
<flex-col-center-center *ngIf="!public" style="user-select: none; z-index: 5; position:fixed; top: 0; left:0; width: 100vw; height: 100vh; background-color: rgba(255,255,255,0);">
    
</flex-col-center-center>


<!-- full screen message overlay -->
<flex-col-center-center *ngIf="ui.overlay" (click)="ui.overlay = false" style="z-index: 9999; position:fixed; top: 0; left:0; width: 100vw; height: 100vh; background-color: rgba(255,255,255,0.9);">

    <div class="spinner-black" *ngIf="ui.loading"></div>
    <flex-center class="success-mark" *ngIf="ui.success">✔</flex-center>
    <div class="error-mark" *ngIf="ui.error">x</div>
    

    <h1>{{ ui.message }}</h1>

    <!-- confirm -->
    <flex-row-center *ngIf="ui.toConfirm">
        <button (click)="ui.confirmStream.next('yes')">Yes</button>
        <button (click)="ui.confirmStream.error('no')">No</button>
    </flex-row-center>

</flex-col-center-center>

<div style="height: 49px; z-index: 3; background-color:rgba(255,255,255,0.95); position:fixed; top: 0; left:0; width: 100%; border-bottom: 1px solid lightgray">
    <app-extra-width>
        <flex-row-between-center>
            <h3><a [routerLink]="['/']">Home</a></h3>
            <!-- logo -->
           <!-- <flex-center style="width:30px; height: 30px; background:#444; border-radius: 100%; color: white; ">
                π
            </flex-center>-->
            <h3>public.ink</h3>
           
            <!-- login / signup -->
            <flex-row *ngIf="!backend.userAccount?.authenticated">
                <h3><a [routerLink]="['/auth']">Log In</a> | <a [routerLink]="['/auth']">Sign Up</a></h3>
            </flex-row>
            <!-- your account -->
            <flex-row *ngIf="backend.userAccount?.authenticated">
                <h3><a [routerLink]="['/my-account']">Your Things</a></h3>
            </flex-row>

        </flex-row-between-center>
        
    </app-extra-width>
</div>


<!-- main -->
<flex-row-center style="display: none; z-index: 2; box-shadow: 0 2px 2px -2px rgba(0,0,0,.35); border-bottom: 0px solid #444; background-color:rgba(255,255,255,0.95); height: 50px; position:fixed; top: 0; left:0; width: 100%;">
    <app-extra-width [bg]="'red'">
        <flex-col-start class="grow">
            <a [routerLink]="['/']">Home</a>
        </flex-col-start>

        <flex-col-center class="grow">
            public.ink {{ environment.name }}
        </flex-col-center>

        <!-- login / signup -->
        <flex-row-center *ngIf="!backend.userAccount?.authenticated" class="grow">
            <a [routerLink]="['/auth']">Log In</a>
            / 
            <a [routerLink]="['/auth']">Sign Up</a>
        </flex-row-center>
        <!-- your account -->
        <flex-col-end *ngIf="backend.userAccount?.authenticated" class="grow">
            <a [routerLink]="['/my-account']">Your Account</a>
        </flex-col-end>

    </app-extra-width>
</flex-row-center>

<div style="height: 50px;">just space behind the top bar</div>


<router-outlet></router-outlet>


<!-- media bar! -->
<div style="position:fixed; bottom: 0px; left:0px; width: 100%;" [hidden]="!ui.mediaBar" *ngIf="ui.mediaBar">
    <div>
        <flex-row style="overflow-x:scroll; background-color: white;">
            
            <app-file-drop></app-file-drop>

             <flex-col *ngFor="let image of backend.userImages ">
                <img (click)="ui.mediaClickStream.next(image)"  [src]="image.url + '&w=200&h=200'" style="margin:5px;" />
                <button (click)="backend.deleteImage(image.id)">delete</button>
             </flex-col>
        </flex-row>
    </div>
</div>

