<!-- cover for production currently -->
<flex-col-center-center *ngIf="!public" style="user-select: none; z-index: 4; position:fixed; top: 0; left:0; width: 100vw; height: 100vh; background-color: rgba(255,255,255,1);">
    <h2>public.ink</h2>
    <p>is currently in private mode</p>
</flex-col-center-center>
<flex-col-center-center *ngIf="!public" style="user-select: none; z-index: 5; position:fixed; top: 0; left:0; width: 100vw; height: 100vh; background-color: rgba(255,255,255,0);">
    
</flex-col-center-center>


<!-- full screen message overlay -->
<flex-col-center-center *ngIf="ui.overlay" (click)="ui.overlay = false" style="z-index: 9999; position:fixed; top: 0; left:0; width: 100vw; height: 100vh; background-color: rgba(255,255,255,0.9);">

    <app-content-width>

        <flex-col-center-center>

            <div class="spinner-black" *ngIf="ui.loading"></div>
            <flex-center class="icon-mark" *ngIf="ui.success">✔</flex-center>
            <div class="icon-mark" *ngIf="ui.error">✖</div>
            

            <h1>{{ ui.message }}</h1>

            <!-- confirm -->
            <flex-row-around *ngIf="ui.toConfirm">
                <button [ngStyle]="ui.styles.button()" (click)="ui.confirmStream.next('yes')">Yes</button>
                <button [ngStyle]="ui.styles.button('white')" (click)="ui.confirmStream.error('no')">No</button>
            </flex-row-around>

        </flex-col-center-center>

    </app-content-width>

</flex-col-center-center>

<div style="height: 49px; z-index: 3; background-color:rgba(0, 0, 0, 1); position:fixed; top: 0; left:0; width: 100%; border-bottom: 1px solid rgba(20, 20, 20, 1)">
    <app-content-width>
        <flex-row-between-center>

            <h3><a [routerLink]="['/']" class="tabable navlink">public.ink</a></h3>

            <span style="font-size: 20px; color: #333; font-weight: bold;"></span>
            
            <!-- login / signup -->
            <flex-row *ngIf="!backend.userAccount?.authenticated">
                <h3><a [routerLink]="['/auth']"  class="tabable navlink">log in</a>  <a *ngIf="environment.signupEnabled" [routerLink]="['/auth']"  class="tabable navlink">sign up</a></h3>
            </flex-row>

            <!-- your things -->
            <flex-row *ngIf="backend.userAccount?.authenticated">
                <h3><a [routerLink]="['/my-account']"  class="tabable navlink">your things</a></h3>
            </flex-row>

        </flex-row-between-center>
        
    </app-content-width>
</div>





<div style="min-height: 100vh;">
    <router-outlet></router-outlet>
</div>

<!-- footer -->
<div style="background:black; color: white; margin-top: 100px;">
<app-content-width *ngIf="1" >
    <flex-row-center-center style="height: 50px; margin-top: 50px;">
        public.ink | CC BY-SA 3.0
    </flex-row-center-center>
</app-content-width>
</div>


<!-- media bar! -->
<div style="position:fixed; bottom: 0px; left:0px; width: 100%;" [hidden]="!ui.mediaBar" *ngIf="ui.mediaBar">
    <div>
        <flex-row style="overflow-x:scroll; background-color: black;">
            
            <app-file-drop></app-file-drop>

             <flex-col *ngFor="let image of backend.userImages ">
                <img (click)="ui.mediaClickStream.next(image)"  [src]="image.url + '&w=200&h=200'" style="margin:5px;" />
                <button (click)="deleteImage(image)">delete</button>
             </flex-col>
        </flex-row>
    </div>
</div>

