
<flex-col-center 
 [style.background-image]="'url(' + publication.imageURL +'&w=1440&h=300' + ')'"
 style="background-color: black; width: 100%"
  >
  <flex-col-center
    class="content-width"
    [style.padding.px]="40"
    [style.background-color]="ui.colors.debug ? ui.colors.lightyellow : ''">

      <textarea *ngIf="editable"
        [(ngModel)]="publication.name"
        [style.font-size.px]="90"
        autosize
        rows="1"
      style="height: 120px; font-weight: bold; color: white; text-align: center; background-color: transparent;"></textarea>

      <a *ngIf="!editable"
      [routerLink]="['/', publication.author.id, publication.id]"
        [style.font-size.px]="90"
        style="color: white; text-decoration: none; font-weight:bold;"
      >{{ publication.name}}  </a>

      <textarea *ngIf="editable"
        rows="1"
        autosize
        [(ngModel)]="publication.about"
        class="about"
        ></textarea>

      <p class="about" style="color: white">{{ publication.about }}</p>

      <!--<app-author [author]="publication.author" [size]="'sticker'"></app-author> -->
  </flex-col-center>
  

</flex-col-center>