<!-- publication component container-->
<div style="background-color:#000; position:relative; height: 70vh; max-height: 700px;">

  <!-- background image -->
  <div style="opacity: 0.6; position:absolute; top: 0; left:0; width: 100%; height: 100%; background-size: cover; background-position: center;"
    [style.background-image]="safeBG()">
  </div>


  <flex-col-center-center 
    [style.font-family]="ui.fonts.publication.title"
    [style.font-weight]="800"
  style="position:absolute; top: 0; left:0; width: 100%; height: 100%;">


    <app-content-width>

      <!-- Title  STATIC -->
      
      <a class="tabable" [routerLink]="['/', publication.author.id, publication.id]" *ngIf="!editable" [ngStyle]="style.name()" [style.cursor]="'pointer'">
        {{ publication.name }}
      </a>

      <!-- Title EDITABLE -->
      <textarea *ngIf="editable" class="focus-bg" [(ngModel)]="publication.name" [ngStyle]="style.name()" [style.cursor]="'default'"
        autosize rows="1"></textarea>

    </app-content-width>

    <!-- ABOUT -->
    <app-content-width>
      <!-- static -->
      <p *ngIf="!editable" [ngStyle]="style.about()"> {{ publication.about }}</p>
      <!-- editable -->
      <textarea *ngIf="editable" class="focus-bg" [(ngModel)]="publication.about" [ngStyle]="style.about()" autosize rows="1">
           
      </textarea>
    </app-content-width>


    <!-- space between about and article count -->
    <div [style.height.px]="ui.responsiveValue(ui.space.publication.titleThenAbout.min, ui.space.publication.titleThenAbout.max)"></div>

    <!-- "3 articles by Hoff" -->
    <app-content-width>
      <flex-col-center>
        <div style="color: white">
          {{ publication.articles?.length }} article<span *ngIf="publication.articles?.length > 1">s</span>
           by <a style="color:white;" [routerLink]="['/', publication.author.id]">{{ publication.author.name }}</a>
          </div>
      </flex-col-center>

      <!-- new article button -->
      <flex-row-around *ngIf="backend.isOwner(publication.author.id)">
        <br><br>
        <a 
          [ngStyle]="ui.styles.button()"
          [routerLink]="['/', publication.author.id, publication.id, 'create-article']">
        new article
        </a>

        
        

      </flex-row-around>
    </app-content-width>


  </flex-col-center-center>

</div>