<!-- new header! -->



<!-- end of header -->






<!-- CONTENT -->

<div [style.height.px]="50"></div>

<!-- extra, animated space -->
<div [style.height.px]="50" [@editState]="editState"></div>

<!-- global container -->
<flex-100-center>
  

    <!-- Home Page -->
    <div [hidden]="location != 'home'">

      <flex-row-center style="height:50vh; width: 100vw; background-color:aqua;">
        <h1>public.ink</h1>
      </flex-row-center>

      
      <div [ngStyle]="style.s.container()">

      <div *ngFor="let publication of homePublications">
        <h2><a [routerLink]="['/', publication.author.id, publication.id]">{{ publication.name }}</a></h2>
        by <a [routerLink]="['/', publication.author.id]">{{ publication.author.name }}</a>
        <div *ngFor="let article of publication.articles">
          <h1>{{ article.titleText }}</h1>
          <h2>{{ article.teaser }}</h2>
        </div>
      </div>

      </div>
    </div>

    <div #container [ngStyle]="style.s.container()">

    <!-- Author Page -->
    <div [hidden]="location != 'author'">
      <div *ngIf="author">
        <h1>{{ author.name }}</h1>
        <input type="text" [(ngModel)]="author.name" />
        <div>{{ author.about }}</div>
        <textarea [(ngModel)]="author.about"></textarea>
        <!-- only if owner -->
        <button (click)="backend.updateAuthor(author)">save changes</button>
      </div>
    </div>

    <!-- Publication Page -->
    <div [hidden]="location != 'publication'">
      <div *ngIf="publication">
        <h1>{{ publication.name }} {{ publication.deleted }}</h1>
        <h2>a publication by <a [routerLink]="['/', publication.author.id]">{{ publication.author.name }}</a></h2>
        <div *ngFor="let article of publication.articles">
          <a [routerLink]="['/', authorID, publicationID, article.id]">{{ article.titleText }}</a>
        </div>
        <button (click)="backend.deletePublication(publication)">delete this publication</button>
      </div>
    </div>

    <!-- Article Page -->
    <div [hidden]="location != 'article'">
      <div>
        <input [ngStyle]="style.s.article.h1()" type="text" [(ngModel)]="article.titleText" />
        <div [ngStyle]="style.s.article.copy()" id="bodyEditor"></div>
      </div>
    </div>

  </div>
</flex-100-center>