

  
<!-- BANNER -->
<flex-row-center
  [ngStyle]="stil.container()"
  style="background-color: #333; position:relative;"
>

  <!-- Content on banner -->
  <flex-row-center *ngIf="publication" [ngStyle]="stil.content()">
    <!-- content width -->
    <flex-col-center [style.width.%]="100" [style.maxWidth.px]="style.theme.contentWidth">

      <!-- Publication Name -->
      <input *ngIf="editable"  [ngStyle]="stil.name()" type="text" [(ngModel)]="publication.nameText" />
      <a     *ngIf="!editable" [ngStyle]="stil.name()" class="inherit-color" [routerLink]="['/', publication.author.id, publication.id]"> {{ publication.nameText }}</a>
      
      <!-- Publication About -->
      <input *ngIf="editable"  [ngStyle]="stil.about()" type="text" class="hover-underline" [(ngModel)]="publication.aboutText" />
      <a     *ngIf="!editbale" [ngStyle]="stil.about()" class="inherit-color" [routerLink]="['/', publication.author.id, publication.id]"> {{ publication.aboutText }}</a>

      <!-- Author Image Circle -->
      <img *ngIf="showAuthor" [src]="publication.author.imageUrl" style="border: 3px solid black; border-radius: 80px; width:80px; height:80px;" />
    
    </flex-col-center>
  </flex-row-center>

  <!--  the background publication banner -->
  <div [ngStyle]="stil.image()"></div>
  
</flex-row-center><!-- END OF BANNER -->


<!-- NEW ARTICLE -->
<flex-col-center *ngIf="publication?.author.nameText === backend.userIdentity?.nameText">
  {{ backend.userIdentity.nameText  }} {{ publication.author.nameText }}
  <button [routerLink]="['/', publication.author.id, publication.id, 'new']" [ngStyle]="{'backgroundColor': 'blue', color: 'white', 'fontSize.px': 20}">create article</button>
</flex-col-center>

<!-- ARTICLES -->
<div *ngIf="publication" style="margin-top: 40px;">
    <div *ngFor="let article of publication.articles.slice(0,articleCount +1)">
      <!-- refactor -->
      <flex-row-center>
        <flex-col [style.width.%]="100" [style.maxWidth.px]="style.theme.contentWidth" [style.width.%]="100">
          <app-article-preview [article]="article"></app-article-preview>
            <br><br><br>
        </flex-col>
      </flex-row-center>
    
  </div>
</div><!-- END OF ARTICLES -->