<div *ngIf="comment">

  <!-- new comment (only show if we have identity! )-->

  <div *ngIf="backend.userIdentity && comment.id === 'new'">

    <flex-row>
      <flex-col-center>
         <img 
        [ngStyle]="{'borderRadius.px': 50}" [src]="backend.userIdentity.imageUrl + '=s70-c'" />
        <span>{{ backend.userIdentity.nameText }}</span>

      </flex-col-center>
      <flex-col>
        <input 
          [ngStyle]="stil.body()"
          type="text" 
          [(ngModel)]="comment.bodyText" 
        />
      </flex-col>
    </flex-row>

    <flex-row>
      <button *ngIf="comment.id === 'new'" type="submit" (click)="comment.userID = backend.userIdentity.id; backend.saveResource(comment)">save comment </button>
    </flex-row>
  </div><!-- end of new comment -->

  <!-- existing comment -->
  <div *ngIf="comment.id !== 'new'">

    <flex-row>
      <flex-col-center>
         <img 
        [ngStyle]="{'borderRadius.px': 50}" [src]="comment.author.imageUrl + '=s70-c'" />
        <span>{{ comment.author.nameText }}</span>

      </flex-col-center>
      <flex-col>
        <div [ngStyle]="stil.body()">{{ comment.bodyText }}</div>
      </flex-col>
    </flex-row>
    
  </div>

</div>