<!-- next publication try! -->

<!-- publication component container-->


<!-- publication hero container -->
<div 
  (dragover)="onDragOver($event)"
  (drop)="onDrop()"
  [@backgroundAnimation]="publication.accordionState"
  style="position:relative; color: white;  background-color: black;">

  <app-content-width>
    <div [ngStyle]="styles.name(true)">{{ publication.name }}</div>
  </app-content-width>

  <!-- background image -->
  <flex-col-left-center style="background-position: center center; background-size: cover;
  background-repeat: no-repeat; opacity: 0.7; position:absolute; top: 0; left: 0; height: 100%; width: 100%;"
    [style.background-image]="safeBG()">
  </flex-col-left-center>

  <!-- content -->
  <app-content-width style="z-index: 2; position:absolute; top: 0; left: 0; height: 100%; width: 100%;">
    
    <!-- space -->
    <div [@hideAnimation]="publication.accordionState" style="overflow: hidden;">
      <div style="height: 20vh;" >
        <!-- just space to hide :) -->
      </div>
    </div>
    
    <!-- publication NAME -->
    <flex-row>
      <textarea style="flex-grow: 1;" #name *ngIf="editable || 1" class="focus-bg" [(ngModel)]="publication.name" [ngStyle]="styles.name()" [style.cursor]="'default'"
      appAutosize rows="1" placeholder="publication name"></textarea>
      <app-arrow [accordionState]="publication.accordionState" (click)="toggle()" [color]="'#fff'"></app-arrow>
    </flex-row>
    <!-- publication ABOUT -->
    <div [@hideAnimation]="publication.accordionState">
      <textarea 
      
      #about *ngIf="editable || 1" class="focus-bg" placeholder="tell me why" [(ngModel)]="publication.about" [ngStyle]="styles.about()"
      appAutosize rows="1">
      </textarea>

      <a style="color: white;" [routerLink]="['/', author.id, publication.id, 'create-article']">new article</a>
      
    </div>
  </app-content-width>

</div>
<!-- end of puvblication hero -->


<!-- articles -->
<app-article *ngFor="let article of publication.articles"
  [article]="article"
  [publication]="publication"
  [author]="author"
  [expanded]="'collapsed'"
  [preview]="true"
></app-article>
