

<div style="font-family: Courier New, Courier, monospace; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; width: 100wh;">
    <h1 style="font-family: Courier New, Courier, monospace;">public.ink</h1>
    <p>{{ env }}</p>
</div>


<!--<h2>Upload Image Test Form</h2>
<form action="{{ upload_url }}" enctype="multipart/form-data" method="post">
    Files to upload: <br>
   <input type="file" name="uploaded_files" size="40">
   <input type="submit" value="Send">
</form>-->