<div *ngIf="publication">

  <app-publication 
    [publication]="publication"
    [editable]="backend.isOwner(publication.author.id)"
    (saveClicked)="savePublication()"
    >
  </app-publication>

  <!-- if NEW! -->
  <button (click)="savePublication()" class="" *ngIf="publication.new">Create publication</button>

  <!-- this publication's article previews -->
  <div *ngFor="let article of publication.articles">
    <app-article [article]="article" [editable]="false" [preview]="true"></app-article>
  </div>

  


</div>


 <!-- if Existing (do they have shortcuts?) -->
<app-bottom-bar *ngIf="publication && ui.bottomBarVisible">
  <app-content-width>
   <flex-row-between-center style="height:50px;">

    <!-- button to start new article in this publication -->
    <div [routerLink]="['/', publication.author.id, publication.id, 'create-article']">New Article</div>

    <div class="" (click)="savePublication()">Save</div>
    <div class="" (click)="savePublication()">Media</div>
    <div class="" (click)="savePublication()">Publish</div>    
    <div class="" (click)="deletePublication()" *ngIf="!publication.new">Delete</div>
   </flex-row-between-center>

   </app-content-width>

</app-bottom-bar>
