<div *ngIf="publication">

  <app-publication 
    [publication]="publication"
    (saveClicked)="savePublication()"
    >
  </app-publication>

  <!-- if NEW! -->
  <button (click)="savePublication()" class="form-button" *ngIf="publication.new">Create publication</button>
  <!-- if Existing -->
  <button (click)="deletePublication()" class="form-button" *ngIf="!publication.new">Delete publication!</button>

  This publication has {{ publication.articles.length }} articles.
  <a [routerLink]="['/', publication.author.id, publication.id, 'create-article']">Create Article</a>

</div>

