<div class="content-width">
  <h1>public auth</h1>

  <div id="register-login-forms" *ngIf="!backend.userAccount.authenticated">

    <h2>Register</h2>
    <label>Email</label><br>
    <input type="email" [(ngModel)]="registerEmail" class="form-input" placeholder="your email" />

    <br>
    <label>Password</label><br>
    <input type="password" class="form-input" [(ngModel)]="registerPassword" placeholder="a password" />
    <br>
    <button class="button" tabindex="0" (click)="register()">Create Account</button>

    <hr>
    <h2>Login</h2>
    <label>Email</label>
    <br>
    <input type="email" [(ngModel)]="loginEmail" class="form-input" placeholder="your email" />

    <br>
    <label>Password</label><br>
    <input type="password" class="form-input" [(ngModel)]="loginPassword" placeholder="your password" />
    <br>
    <button class="button form-input" tabindex="0" (click)="login()">Log In</button>

    <simple-spacer></simple-spacer>
    <button class="button form-input" tabindex="0" (click)="backend.test()">TEST</button>
    

  </div>

</div>