<div class="content-width">
  <h1>public auth</h1>

  <div id="register-login-forms" *ngIf="!backend.userAccount.authenticated">

    <h2>Log In</h2>
    <form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
      <flex-col-center>
          <div class="form-label">
            <label  for="loginEmail">Email</label>
          </div>
          <input id="loginEmail" class="form-input" formControlName="email" type="email" placeholder="your email address">
          
          <div class="form-label">
            <label for="loginPassword">Password</label>
          </div>
          <input id="loginPassword" class="form-input" formControlName="password" type="password" placeholder="your password">
          <br>

          <!-- use the 2-elements strategy. todo: proper sizing!-->
          <flex-row-center *ngIf="loginLoading" class="form-button">
            <div class="spinner"></div>
          </flex-row-center>
          <button  *ngIf="!loginLoading" class="form-button" type="submit" [disabled]="!loginForm.valid">Log In</button>
          
      </flex-col-center>
    </form>

     <simple-spacer></simple-spacer>

    <h2>Create Account</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="createAccount($event)">
      <flex-col-center>
          <label class="form-label" for="registrationEmail">Email</label>
          <input id="registrationEmail" class="form-input" formControlName="email" type="email" placeholder="your email address">
          
          <label class="form-label" for="registrationPassword">Password</label>
          <input id="registrationPassword" class="form-input" formControlName="password" type="password" placeholder="your password">
          <br>


          <!-- use the 2-elements strategy. todo: proper sizing!-->
          <flex-row-center *ngIf="registrationLoading" class="form-button">
            <div class="spinner"></div>
          </flex-row-center>
          <button  *ngIf="!registrationLoading" class="form-button" type="submit" [disabled]="!registrationForm.valid">Create Account</button>
          
      </flex-col-center>
    </form>

    

    <simple-spacer></simple-spacer>
    <button class="button form-input" tabindex="0" (click)="backend.test()">TEST</button>
    <!-- use the 2-elements strategy -->
         

  </div>

</div>