
<app-content-width>
  <h1 *ngIf="!publication">loading</h1>
</app-content-width>

<app-publication 
  *ngIf="publication"
  [author]="author" 
  [publication]="publication"
  [editable]="publication.new || backend.isOwner(author.id)"
  (updatePublication)="save()"
  >
</app-publication>

<div *ngIf="publication">

    <button 
      *ngIf="publication.new"
      [ngStyle]="ui.styles.button()"
      (click)="create()" 
      [disabled]="!publication.name"
      >create publication</button>
    
    <button *ngIf="publication.id !== 'create-publication'">delete publication xXx</button>
    

</div>
