<!-- container -->
<flex-row
  (click)="randomColor()"
  [style.background-color]=""
>

<!-- left padding -->
<div 
  [style.height.px]="totalHeight"
  [style.width.px]="pad"
  [style.background-color]="background"></div>

<flex-col >
  <!-- top padding -->
  <div 
  [style.height.px]="pad"
  [style.width.px]="width"
  [style.background-color]="background"></div>

  <!-- top bar -->
  <div 
    [style.height.px]="thick"
    [style.width.px]="width"
    [style.background-color]="color"></div>

  <flex-row>
    <!-- left space -->
    <div 
      [style.background-color]="background"
      [style.width.px]="thick"
      [style.height.px]="height - thick"></div>
  
    <!-- left leg-->
    <div 
      [style.width.px]="thick"
      [style.height.px]="height - thick"
      [style.background-color]="color"
    ></div>

    <!-- center space -->
    <div 
    [style.background-color]="background"
    [style.width.px]="width - (thick * 4)"
    [style.height.px]="height - thick"></div>

    <!-- right leg-->
    <div 
      [style.width.px]="thick"
      [style.height.px]="height - thick"
      [style.background-color]="color"
    ></div>

    <!-- right space -->
    <div 
    [style.background-color]="background"
    [style.width.px]="thick"
    [style.height.px]="height - thick"></div>
  
  
  </flex-row>

  <div 
  [style.height.px]="pad"
  [style.width.px]="width"
  [style.background-color]="background"></div>
  
</flex-col>

<!-- right padding -->
<div 
[style.height.px]="totalHeight"
[style.width.px]="pad"
[style.background-color]="background"></div>

</flex-row>