<!-- overlay -->
<flex-col-center-center *ngIf="ui.overlay" (click)="ui.overlay=false" style="background-color: rgba(255, 255, 255, 0.9); width: 100vw; height: 100vh; position: fixed; top: 0; left: 0;">
  {{ ui.overlayInidcator }}
  {{ ui.overlayMessage }}
</flex-col-center-center>

<app-paper-tree></app-paper-tree>


<!-- media bar -->
<flex-row *ngIf="ui.mediaBar" style="position: fixed; bottom: 0; left: 0; background-color: #222; padding: 5px;">



<app-file-drop></app-file-drop>

<flex-col *ngFor="let image of backend.account?.images">
  <img (dragstart)="ui.beingDragged = image" [src]="image.url + '&w=150&h=150'"  />
</flex-col>

</flex-row>