
<!-- just space -->
<div style="height: 150px;"></div>

<!-- author display pattern -->
<!-- AUTHOR -->
<flex-col-center>

    <!-- information about creating authors (only for /create-author) -->
    <div  *ngIf="author?.new">
        <h1>Create an Author</h1>
        <p>Authors are the public actors on public.ink. You can create multiple authors, if you like.
            You can use your real name, a nickname, or pseudonym - up to you. Likewise, you are free to chose whatever photo.
        </p>
    </div>


  <!-- display pattern: author! -->
  <flex-col-center  *ngIf="author">

    <!-- circle container -->
    <flex-center
      style="border-radius: 100%; border: 1px solid #eee;"
      >
      <img 
        [style.border]="'12px solid #fff'"
        [ngStyle]="imgStyle()"
        (click)="ui.mediaBar = !ui.mediaBar"
      style="border-radius: 100%;" [src]="author.imageURL +'&w=250&h=250'" />
      
    </flex-center>
    <!-- author text -->
    <app-content-width>
    <flex-col-center-center class="grow"
    >
        
    <!-- AUTHOR NAME -->
    <!-- name input -->
      <input *ngIf="editable"
      type="text"
      placeholder="Author Name"
      [(ngModel)]="author.name" 
      style="text-align:center;"
      class="focus-bg"
      [ngStyle]="nameStyle()" />

      <!-- name link -->
      <a *ngIf=!editable style="color:#333; text-decoration: none;"
      [routerLink]="['/', author.id]"><h3
      [ngStyle]="nameStyle()"
      >{{ author.name}}</h3></a> 
      
      <!-- AUTHOR ABOUT -->
      <!-- about input -->
      <textarea *ngIf="editable"
        [(ngModel)]="author.about"
        placeholder="A short introduction about this author. [optional]"
        [ngStyle]="aboutStyle()"
        class="focus-bg"
        [style.font-size.px]="ui.responsiveValue(18, 20)"
      ></textarea>

      <p *ngIf="!editable"
      [style.font-size.px]="ui.responsiveValue(18, 20)"
        >
        {{ author.about }}
      </p>

      <!-- about text -->


    </flex-col-center-center>
    </app-content-width>
  </flex-col-center><!-- end of display pattern author -->
</flex-col-center>
