
<!-- author display pattern -->
<!-- AUTHOR -->
<flex-col-center>

    <!-- information about creating authors (only for /create-author) -->
    <div class="content-width" *ngIf="author?.new">
        <h1>Create an Author</h1>
        <p>Authors are the public actors on public.ink. You can create multiple authors, if you like.
            You can use your real name, a nickname, or pseudonym - up to you. Likewise, you are free to chose whatever photo.
        </p>
    </div>


  <!-- display pattern: author! -->
  <flex-row class="content-width" *ngIf="author">

    <!-- circle container -->
    <flex-center
      [style.background-color]="ui.colors.debug ? ui.colors.lightyellow : ''"
      [style.padding.px]="pad"
      >
      <img 
        [style.box-shadow]="imageStyle.boxShadow"
        [style.border]="size === 'sticker' ? '4px solid #000' : '8px solid #fff'"
        [ngStyle]="imgStyle()"
      style="border-radius: 500px;" [src]="author.imageURL" />
      
    </flex-center>
    <!-- author text -->
    <flex-col-left-center class="grow"
      [style.padding.px]="pad"
      [style.background-color]="ui.colors.debug ? ui.colors.lightred : ''"
      [style.color]="size === 'sticker' ? 'white' : '8px solid black'"
    >
        
      <input *ngIf="editable"
      type="text"
      placeholder="Name your Author here"
      [(ngModel)]="author.name" 
      [ngStyle]="nameStyle()" />

      <a *ngIf=!editable
      [routerLink]="['/', author.id]"><h3
      [ngStyle]="nameStyle()"
      >{{ author.name}}</h3></a> 
      
      <textarea
        [(ngModel)]="author.about"
       *ngIf="size != 'sticker'"
        [ngStyle]="aboutStyle()"
      ></textarea>
    </flex-col-left-center>
  </flex-row><!-- end of display pattern author -->
</flex-col-center>
