


<!-- TITLE -->
<app-content-width [bg]="titleHasFocus() ? colors.highlight : 'transparent'">

    <!-- static title -->
    <h1 *ngIf="!editable"
        [style.fontSize.px]="ui.responsiveValue(30, 50)"
    ><a class="tabable" style="color: #333;" [routerLink]="['/', article.publication.author.id, article.publication.id, article.id]">{{ article.title}}</a></h1>

    <!-- editable title -->
    <textarea 
        #titleArea
        *ngIf="editable" type="text" 
        autosize
        rows="1"
        [style.fontSize.px]="ui.responsiveValue(30, 50)"
    style="outline: 0; resize: none; background-color: transparent; width: 100%; font-weight: bold; border:0px;" [(ngModel)]="article.title"
    ></textarea> 
</app-content-width>

<!-- META -->
<app-content-width>

    <div style="color: #666;" [ngStyle]="{'font-size.px': ui.responsiveValue(16, 18)}">By 

        <a style="text-decoration:underline;" class="tabable" [routerLink]="['/', article.publication.author.id]">{{ article.publication.author.name }}</a>
        in <a  style="text-decoration:underline;" class="tabable" [routerLink]="['/', article.publication.author.id, article.publication.id]">{{ article.publication.name }}</a>
        
            <span *ngIf="article.publishedAt"> {{ article.publishedAt | date:'MMMM y' }}</span>
            <span *ngIf="!article.publishedAt"> draft</span>
    </div>
</app-content-width>

<!-- SPACE -->
<div [style.height.px]="ui.responsiveValue(0,0)"></div>

<!-- BODY -->
<app-content-width [bg]="quill.hasFocus() ? colors.highlight : 'transparent'">

    <div style="height:50px;"></div>

    <!-- quill editor -->
    <div #editor
        [style.font-size.px]="ui.responsiveValue(18, 20)"
    ></div>

    <!-- hidden toolbar in case of preview -->
    <div class="hidden-toolbar" #hidden style="display: none;"></div>

    
    <!-- read more link in case of preview -->
    <span *ngIf="preview">
    <a class="tabable" [routerLink]="['/', article.publication.author.id, article.publication.id, article.id]"
        [ngStyle]="ui.styles.button()">read on </a> &nbsp; </span>
    
    <br>
    <br>
    <br>

</app-content-width>


