<div class="content-width">

   

    <div style="height: 80px"></div>

    <textarea *ngIf="editable" type="text" style="font-size:50px; width: 100%; font-weight: bold; border:0px;" [(ngModel)]="article.title" ></textarea>    
    <h1 *ngIf="!editable"><a style="color: #333; text-decoration: none;" [routerLink]="['/', article.author.id, article.publication.id, article.id]">{{ article.title}}</a></h1>
    
    <!-- punchline -->
    <!--<h4 style="font-weight:400; margin-top: 5px; margin-bottom:10px; font-size: 27px; color: #555;">An then, there where wolves.</h4>-->
    <flex-row-start-center>
        <!--<img src="/assets/images/mask.png" style="border-radius: 100%; width:50px; height: 50px;" />
        -->
        <div style="color: #666;">By <a style="color:dodgerblue;" [routerLink]="['/', article.author.id]">Marty Mc Hoff</a> in <a style="color: dodgerblue;" [routerLink]="['/']">Atomic Angular</a>, February 2017
        </div>
        
    </flex-row-start-center>
    <div style="height:50px;"></div>
    <div #editor>editor goes here</div>
    <button (click)="insertImage('http://localhost:8080/_ah/img/Ar0mwQa8uB-cl0ePUci_FA==')">test insert</button>

    <div #hidden style="display: none; background-color:lime;">jo</div>

    
</div>
