
<!-- TITLE -->
<app-extra-width [bg]="titleHasFocus() ? colors.highlight : 'transparent'">

    <!-- static -->
    <h1 *ngIf="!editable"
        [style.fontSize.px]="ui.responsiveValue(30, 50)"
    ><a style="color: #333; text-decoration: none;" [routerLink]="['/', article.publication.author.id, article.publication.id, article.id]">{{ article.title}}</a></h1>

    <!-- editable -->
    <textarea 
        #titleArea
        *ngIf="editable" type="text" 
        autosize
        rows="1"
        [style.fontSize.px]="ui.responsiveValue(30, 50)"
    style="outline: 0; resize: none; background-color: transparent; width: 100%; font-weight: bold; border:0px;" [(ngModel)]="article.title"
    ></textarea> 
</app-extra-width>

<!-- META -->
<app-extra-width>
    <div style="color: #666;">By 
        <a [routerLink]="['/', article.publication.author.id]">{{ article.publication.author.name }}</a>
        in <a [routerLink]="['/', article.publication.author.id, article.publication.id]">{{ article.publication.name }}</a> <span style="color: #999;">|  February 2017</span>
    </div>
</app-extra-width>

<!-- SPACE -->
<div [style.height.px]="space.metaThenBody"></div>

<!-- BODY -->
<app-extra-width [bg]="quill.hasFocus() ? colors.highlight : 'transparent'">
    <!-- quill editor -->
    <div #editor
        [style.font-size.px]="ui.responsiveValue(14, 20)"
    ></div>

    <!-- hidden toolbar in case of preview -->
    <div #hidden style="display: none;"></div>

    <!-- read more link in case of preview -->
    <a *ngIf="preview" [routerLink]="['/', article.publication.author.id, article.publication.id, article.id]">read more</a>

</app-extra-width>
