<div >
  <div [ngStyle]="heroStyle()"></div>
  <br>
  <h1><a [routerLink]="['/', article.author.id, article.publication.id, article.id]">{{ article.titleText }}</a></h1>
  <br>
  <div [style.color]="'gray'" >by <a class="inherit-color" [routerLink]="['/', article.author.id]">{{ article.author.nameText }}</a> in <a class="inherit-color" [routerLink]="['/', article.author.id, article.publication.id]">{{ article.publication.nameText }}</a>, Feb 2017</div>
  <br>
  <br>
  <div>
    <div #quill></div>    
  </div>
  <flex-row-center><a [routerLink]="['/', article.author.id, article.publication.id, article.id]"> Read On</a></flex-row-center>
</div>

<br><br>

<hr>