
<flex-col-start-end>
  <flex-row *ngFor="let key of keys.slice(25, 49 +25)"
    [style.background]="key.background"
    [style.border-top]="'1px solid gray'"
    [style.width.%]="100"
    [style.height.vh]="100 / 49"
  >
    
  </flex-row>

</flex-col-start-end>


<div style="position: relative; border: 1px solid black; height: 100vh; width: 500vw; background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  background-color: #434343;
  background-size:50px 50px;">

  <div *ngFor="let note of nextdata.tracks[1].notes" style="position: absolute;"
    [style.top.px]="((100 - note.midi) * 10) - (note.hand ? 100 : 0)"
    [style.left.px]="note.time * 100 + 200"
    [style.width.px]="note.duration * 100"
    [style.background]="notes[((note.midi +7) % 12)].length > 1 ? 'black': 'white'"
    [style.color]="notes[((note.midi +7) % 12)].length > 1 ? 'white': 'black'"
    [style.border]="'1px solid black'"
    (click)="incrementFinger(note)"
    [style.display]="note.hand === 1 ? 'block' : 'block'"
    
    
  >
    <span style="overflow-x: visible;">{{ notes[((note.midi +7) % 12)] }} <!--{{ note.finger}}-->  </span>
    <span *ngIf="note.hand === 1"><!-- is right --></span>
  </div>

  
  
  

</div>

<button (click)="output()">OUTPUT</button>