
<app-content-width *ngIf="article" [@goneAnimation]="article.accordionState">

    <flex-row>

        <textarea 
        style="flex-grow: 1;"
        #title
        *ngIf="editable"
        placeholder="Article Title"
        appAutosize rows="1" 
        type="text" 
        [ngStyle]="style.title()" 
        [(ngModel)]="article.title" 
      ></textarea>
      

      <h1 *ngIf="!editable"
        style="flex-grow: 1;"
        [ngStyle]="style.title()"
      >{{ article.title }}</h1>

      
      <app-arrow [color]="'rgba(0,0,0,0.2)'" [accordionState]="article.accordionState" (click)="article.accordionState = article.accordionState === 'expanded' ? 'compact' : 'expanded'"></app-arrow>

    </flex-row>
      <!-- article title -->
      

      


      <!-- META -->
      <div *ngIf="!preview && 0"
        [@hideAnimation]="article.accordionState"
      style="font-family: 'Zilla Slab'; color: #888;" [ngStyle]="{'font-size.px': ui.responsiveValue(16, 18), 'line-height.px': ui.responsiveValue(24, 26)}">By
          <a style="color: #888; text-decoration:none; border-bottom: 1px solid #aaa;" class="tabable" 
          [routerLink]="['/', author.id]">{{ author.name }}
        </a> 
          in 
          <a style="color: #888; text-decoration:none; border-bottom: 1px solid #aaa;" class="tabable" [routerLink]="['/', author.id, publication.id]">{{ publication.name }}</a>
          <span *ngIf="article.publishedAt"> {{ article.publishedAt | date:'MMMM y' }}</span>
          <span *ngIf="!article.publishedAt" style="background: beige;"> draft </span>
      </div>
      <div [@hideAnimation]="article.accordionState" *ngIf="preview" style="color: #888;">{{ article.publishedAt | date:'MMMM y' }}</div>

      <!-- to be hidden -->
      <div [@hideAnimation]="article.accordionState">
      

      <!-- space between meta and body -->
      <div [style.height.px]="ui.responsiveValue(20, 30)"></div>


      <!-- prefold editor -->
      <div #prefoldEditor [ngStyle]="style.body()"></div>
      

      <!-- read on -->
      <flex-row style="margin:0px 0px;" *ngIf="expanded === 'collapsed' && article.postfoldHTML">
        <span style="font-family: Zilla Slab; font-size: 20px; text-decoration: none;"
        [style.color]="article.state === 'expanded' ? 'white' : 'black'"
        (click)="expanded = expanded === 'expanded' ? 'collapsed' : 'expanded'">
        continue reading >
        </span>
      </flex-row>

      

      
      <div [@articleState]="expanded" style="overflow:hidden;">
        <!--  postfold editor -->
        <div #postfoldEditor *ngIf="editable" [ngStyle]="style.body()"></div>
        <div #postfoldHTML  *ngIf="!editable" [ngStyle]="style.body()" [innerHTML]="safeHTML(article.postfoldHTML)">
        </div>
      
      </div>

    </div><!-- to be hidden -->

    <button *ngIf="article.new" (click)="create()">create draft</button>

    <!-- comments (todo) -->

    <!-- border -->
    <div style="display:block; border-bottom: 1px dashed lightgray; margin:30px 0px;">&nbsp;</div>
    <div style="position:relative; display:none;">
        <br><br>
        <div class="testdivider"></div>
        <br><br>
      </div>
  </app-content-width>




<!-- fixed top toolbars -->

  <!-- prefold toolbar-->
  <div #prefoldToolbar 
  style="z-index: 2; background-color: rgba(255, 255, 255, 0.98); position:fixed; top: 36px; left: 0; width: 100%;" 
  [style.display]="prefoldQuill?.hasFocus() ? 'block' : 'none'"
>
  <app-content-width style="">
      <button class="ql-bold">Bold</button><button class="ql-italic">Italic</button> pre
  </app-content-width>
</div>

<!-- postfold toolbar -->
<div #postfoldToolbar 
  style="z-index: 2; background-color: rgba(255, 255, 255, 0.98); position:fixed; top: 36px; left: 0; width: 100%;" 
  [style.display]="postfoldQuill?.hasFocus() ? 'block' : 'none'"
>
    <app-content-width>
      <button class="ql-bold">Bold</button><button class="ql-italic">Italic</button> post
    </app-content-width>
</div>