<app-content-width>

  <div style="height: 50px;"></div>
  <h1 (click)="hide()">  {{ test.jo }}</h1>

  <flex-row>
    <!-- name -->
    <textarea (click)="hide()"
      #name 
      rows="1" 
      appAutosize 
      [(ngModel)]="author.name"
      [disabled]="!author.new || !editable"
      [ngStyle]="style.name()"
      placeholder="Author Name" 
    ></textarea>
  </flex-row>

  <!-- about -->
  <flex-col [ngStyle]="{'height.px': '*', 'background': 'lime'}">
    <textarea 
      #about 
      rows="1"
      appAutosize
      [(ngModel)]="author.about" 
      [disabled]="!editable"
      [ngStyle]="style.about()"
      placeholder="short about"
    ></textarea>
  </flex-col>
</app-content-width>