<app-content-width>

  <div style="height: 50px;"></div>

  editable? {{ editable }}, new? {{ author.new }}

  <flex-row>
    <!-- name -->
    <textarea 
      #name 
      rows="1" 
      appAutosize 
      [(ngModel)]="author.name" 
      [disabled]="!author.new || !editable"
      [ngStyle]="style.name()"
      placeholder="Author Name" 
    ></textarea>
  </flex-row>

  <!-- about -->
  <flex-col>
    <textarea 
      #about 
      rows="1"
      appAutosize
      [(ngModel)]="author.about" 
      [disabled]="!editable"
      [ngStyle]="style.about()"
      placeholder="short about"
    ></textarea>
  </flex-col>
</app-content-width>