<div *ngIf="article">

    <!-- space for toolbar and headroom -->
    <div style="height: 130px"></div>

    <!-- fixed editor toolbar -->
    <div [ngStyle]="{display: isOwner() ? 'block' : 'none'}"
    
    style="position:fixed; top:50px; left: 0; width: 100%; border-bottom: 1px solid #ddd; background-color: white; z-index:3;">
        <app-content-width id="toolbar">
            <!-- toolbar controls go here! -->
            <button class="ql-bold">Bold</button>
            <button class="ql-italic">Italic</button>
            <button class="ql-underline">under</button>
            <button class="ql-strike">strike</button>

            <select class="ql-size">
                <option value="small"></option>
                <!-- Note a missing, thus falsy value, is used to reset to default -->
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
            </select>

            <button class="ql-blockquote"></button>
            <button class="ql-image">img</button>
            <button class="ql-link">link</button>
            <button class="ql-header" value="1" type="button"></button>
            <button class="ql-header" value="2" type="button"></button>
            <button class="ql-align" value="center"></button>
            <button class="ql-clean">clean</button>
        </app-content-width>
    </div>

    <br>

    <app-article [article]="article" [editable]="isOwner()"></app-article>

   
    <!-- article comment (new) -->
    <app-content-width [ngStyle]="ui.styles.standardText()">

        <h3>Responses</h3>

        If you have any thoughts on this article, I'd love to hear them. Just keep
        in mind that I'm only a human being, so please remember to be kind.
        <br><br>
        <textarea 
            [ngStyle]="ui.styles.textarea()"
            [(ngModel)]="commentBody"
            placeholder="Your Response..."
            autosize rows="3" style="border: 1px solid black;"></textarea>

        <input 
            [ngStyle]="ui.styles.input()"
        type="text" [(ngModel)]="commentName" placeholder="Your Name | Optional"/>
        <!--
        <input 
            [ngStyle]="ui.styles.input()"
        type="email" [(ngModel)]="commentEmail" placeholder="Your Email (optional)" />-->
        
        
        <div [ngStyle]="ui.styles.button('black')" (click)="postComment()">send your response</div>

        <br>
        <br>
        <br>

        <!--<div [ngStyle]="ui.styles.button()">show all responses</div>-->

        <div [ngStyle]="ui.styles.standardText()" *ngFor="let comment of comments" style="margin: 30px 0px;">
            <b >{{ comment.name ? comment.name : 'anonym' }}:</b> <span style="white-space: pre-line;">{{ comment.body }}</span>
        </div>
    </app-content-width>

    


    <!-- fixed bottom bar -->
    <!-- only for owners of this article, checked in ui.service -->
    <app-bottom-bar *ngIf="ui.bottomBarVisible">
        <app-content-width>
            <flex-row-between-center style="height:50px;">
                <div (click)="saveArticle()">Save Chages </div>
                <div (click)="ui.mediaBar = !ui.mediaBar">Show Media</div>
                <div *ngIf="!article.publishedAt" (click)="backend.publishArticle(article)">Publish Article</div>
                <div *ngIf="article.publishedAt" (click)="backend.publishArticle(article, true)">Un-publish Article</div>
                <div (click)="deleteArticle()">Delete Article</div>
            </flex-row-between-center>
        </app-content-width>
    </app-bottom-bar>

</div>