<!-- 404 -->
<flex-col-center-center *ngIf="notFound" [style.height.vh]="100">
    <h1>404</h1>
    <p>Bummer. We could not find an article at this url.</p>
</flex-col-center-center>

<!-- article container -->
<div *ngIf="article">

    <!-- space for toolbar(s) -->
    <div style="height: 50px"></div>

    <!-- the article itself :) -->
    <app-article (saveClicked)="saveArticle()" [article]="article" [editable]="isOwner()"></app-article>

    <!-- author badge -->
    <app-content-width>
        <flex-col-center [ngStyle]="ui.styles.standardText()">
            <img [src]="article.publication.author.imageURL + '&w=140&h=140&q=100'" style="border-radius: 100%;; box-shadow: rgba(0, 0, 0, 0.15) 0px 1.5px 3px 0px inset, rgba(0, 0, 0, 0.15) 0px 1.5px 3px 0px; border: 10px solid rgb(255, 255, 255);"
            />
            <br>
            <span [style.font-family]="ui.fonts.paragraph"> {{ article.publication.author.name }}</span>
        </flex-col-center>
    </app-content-width>


    <!-- space (make responsive) -->
    <div style="height: 40px;"></div>

    <!-- comments -->
    <app-content-width [ngStyle]="ui.styles.standardText()">

        <!-- the form -->
        <div [style.font-size.px]="ui.responsiveValue(30, 35)" style="font-weight: bold; margin-bottom: 20px; ">Your Thoughts</div>
        <span [style.font-family]="ui.fonts.paragraph">
        If you have any thoughts on this article, I'd love to hear them. Just keep in mind that I'm only a human being, so please
        remember to be kind.</span>

        <div [style.height.px]="ui.responsiveValue(20, 25)"></div>

        <textarea [ngStyle]="ui.styles.textarea()" [(ngModel)]="commentBody" placeholder="your thoughts..." autosize rows="3" style="border: 1px dashed black;"></textarea>
        
        <div [style.height.px]="ui.responsiveValue(20, 25)"></div>

        <input style="border: 1px dashed black;" [ngStyle]="ui.styles.input()" type="text" [(ngModel)]="commentName" placeholder="your name&nbsp;&nbsp;/ optional"
        />
        <div [style.height.px]="ui.responsiveValue(20, 25)"></div>

        <input [ngStyle]="ui.styles.input()" type="email" [(ngModel)]="commentEmail" placeholder="your email / optional and private"
        />

        <div [style.height.px]="ui.responsiveValue(20, 25)"></div>

        <button style="width: 100%;" class="form-button" (click)="postComment()">share your thoughts</button>

        <div style="height: 75px;"></div>
        

        <!-- existing comments -->
        <div *ngIf="comments && comments.length > 0">
            <h1>{{ comments.length }} Response<span *ngIf="comments.length > 1">s</span></h1>

            <simple-spacer></simple-spacer>
            <div [ngStyle]="ui.styles.standardText()" *ngFor="let comment of comments" style="margin: 30px 0px;">
                <b>{{ comment.name ? comment.name : 'anonym' }}:</b> <span style="white-space: pre-line;">{{ comment.body }}</span>
                <simple-spacer></simple-spacer>
            </div>

        </div>


        <!-- publish / un-publish -->
        <flex-row *ngIf="isOwner(article.publication.author.id)">
            <button *ngIf="article.id === 'create-article'" [ngStyle]="ui.styles.button()" (click)="saveArticle()">Create Article</button>
            <div *ngIf="article.id !== 'create-article'">
                <button *ngIf="!article.publishedAt" (click)="publishArticle(article)" [ngStyle]="ui.styles.button()">publish Now</button>
                <button *ngIf="article.publishedAt" (click)="unpublishArticle(article)" [ngStyle]="ui.styles.button()">un-publish</button>
                <button *ngIf="article.publishedAt" (click)="unpublishArticle(article)" [ngStyle]="ui.styles.button()">disable comments (TODO)</button>
                <button *ngIf="article.publishedAt" (click)="deleteArticle(article)" [ngStyle]="ui.styles.button()">delete</button>
            </div>
        </flex-row>

    </app-content-width>


</div>