<div *ngIf="article">

    <!-- space for toolbar and headroom -->
    <div style="height: 120px"></div>

    <!-- fixed toolbar -->
    <div style="position:fixed; top:50px; left: 0; width: 100%; border-bottom: 1px solid #ddd; background-color: white; z-index:3;">
        <app-content-width id="toolbar">
            <!-- toolbar controls go here! -->
            <button class="ql-bold">Bold</button>
            <button class="ql-italic">Italic</button>
            <button class="ql-underline">under</button>
            <button class="ql-strike">strike</button>
            <button class="ql-blockquote"></button>
            <button class="ql-image">img</button>
            <button class="ql-link">link</button>
            <button class="ql-header" value="1" type="button"></button>
            <button class="ql-header" value="2" type="button"></button>
            <button class="ql-align" value="center"></button>
            <button class="ql-clean">clean</button>
        </app-content-width>
    </div>

    owned? <span *ngIf="isOwner()">owned!</span>
    <app-article [article]="article" [editable]="isOwner()"></app-article>

    

    <!-- fixed bottom bar -->
    <app-bottom-bar *ngIf="ui.bottomBarVisible">
        <app-content-width>
            <flex-row-between-center style="height:50px;">
                    <div (click)="saveArticle()">Save Chages </div>
                    <div (click)="ui.mediaBar = !ui.mediaBar">Show Media</div>
                    <div *ngIf="!article.publishedAt"(click)="backend.publishArticle(article)">Publish Article</div>
                    <div *ngIf="article.publishedAt" (click)="backend.publishArticle(article, true)">Un-publish Article</div>
                    <div (click)="deleteArticle()">Delete Article</div>
            </flex-row-between-center>
        </app-content-width>


    </app-bottom-bar>

</div>