<div style="min-height: 100vh;">

  <app-content-width>

    <h1><br><br>public.ink</h1>
    <div>
      micklinghoff@gmail.com verified and authenticated
    </div>
    <br>
    <hr>

    <h2><br><br>hoff</h2>
    <div>
      author of 22 articles in 3 publications
    </div>
    <br>
    <hr>

    <h3><br><br>Living on universal basic income (don't forget on bullshit)</h3>
    <div>3 articles</div>
    <br>
    <hr>
    <div>
      <h4><br>The idea</h4>
      <div>
        Well, so, here we are, wondering got to get an initial capital going! in style, my brothers!<br>
        At least pretend, we have some lines.
        <br>
        <br>
        read more
        <br>
        <br>

      </div>
    </div>
    <hr>
    <div>
      <h4><br><br>The Experiment</h4>
      <div>
        Well, so, here we are, wondering got to get an initial capital going! in style, my brothers!<br>
        At least pretend, we have some lines.
        <br>
        <br>
        read more
        <br>
        <br>

      </div>
    </div>
    <hr>

  </app-content-width>

</div>