<app-content-width>

<h2>Chose a new password</h2>
  To reset your password, please enter it twice in the form below, then click 'submit'
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">

    <flex-col>
      <div class="form-label">
        <label for="password1">Chose a password</label>
      </div>
      <input id="password1" class="form-input" formControlName="password" type="password" placeholder="new password">
      
      <div class="form-label">
        <label for="password2">Enter your password again</label>
      </div>
      <input id="password2" class="form-input" formControlName="password2" type="password" placeholder="because typos happen">
      
      <button class="form-button" type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
    </flex-col>
  </form>

</app-content-width>