



<flex-row-center *ngIf="author">
    <flex-col >
        <!-- center lane -->
            <app-author [author]="author" [editable]="1"></app-author>
            
            <!-- if NEW: create him inline button -->
            <button [ngStyle]="ui.styles.button()" *ngIf="author.new" (click)="saveAuthor()">create author</button>
            <button [ngStyle]="ui.styles.button()" *ngIf="!author.new" (click)="saveAuthor()">save author</button>

            <!-- end of center lane -->
    </flex-col>
</flex-row-center>
