<!-- 404 -->
<flex-col-center-center *ngIf="notFound" [style.height.vh]="100">
    <h1>404</h1>
    <p>Bummer. We could not find an author at this url.</p>
</flex-col-center-center>



<flex-row-center *ngIf="author">
    <flex-col >
        <!-- center lane -->
            <app-author [author]="author" [editable]="1"></app-author>
            
            <!-- if NEW: create him inline button -->
            <button [ngStyle]="ui.styles.button()" *ngIf="author.new" (click)="saveAuthor()">create author</button>
            <button [ngStyle]="ui.styles.button()" *ngIf="!author.new" (click)="saveAuthor()">save author</button>

            <!-- end of center lane -->
    </flex-col>
</flex-row-center>
